@import 'tailwindcss';

:root {
  --foreground: #f6f7eb;
  --color: #e94f37;
  --background: #393e41;
  --slate-50: oklch(98.4% 0.003 247.858);
  --slate-100: oklch(96.8% 0.007 247.896);
  --slate-200: oklch(92.9% 0.013 255.508);
  --slate-300: oklch(86.9% 0.022 252.894);
  --slate-400: oklch(70.4% 0.04 256.788);
  --slate-500: oklch(55.4% 0.046 257.417);
  --slate-600: oklch(44.6% 0.043 257.281);
  --slate-700: oklch(37.2% 0.044 257.287);
  --slate-800: oklch(27.9% 0.041 260.031);
  --slate-900: oklch(20.8% 0.042 265.755);
  --slate-950: oklch(12.9% 0.042 264.695);
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #393e41;
    --background: #f6f7eb;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: hsla(223, 48%, 11%, 1);

  background: linear-gradient(
    180deg,
    hsla(223, 48%, 11%, 1) 0%,
    hsla(223, 48%, 11%, 1) 20%,
    hsla(218, 36%, 18%, 1) 100%
  );

  width: 100vw; /*Temporary*/
  height: 100vh; /*Temporary*/
}

.title {
  color: var(--slate-400);

  &a:hover {
    color: var(--slate-200);
  }
}

* {
  box-sizing: border-box;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 60vw;
}
